<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Ohdieux</title>
  </head>
  
  <body>
    <h1><b>Oh</b>dieux</h1>

    <a href="/static/instructions.png"><img src="/static/instructions.png" style="width:20rem;" /></a>
    <p>Saisissez le code d'émission dans le champ texte
      ci-dessous.</p>
    <p>Enter the programme ID in the input box.</p>

    <p>Copiez l'URL résultant dans votre lecteur de balados. La
    première utilisation du lien peut nécéssiter plusieurs secondes
    ou minutes de chargement.</p>

    <p> Copy the returned URL into your podcasts
    application. Multiple seconds or minutes may be necessary for the
    RSS feed to be generated for the first time.</p>

    <input id="programme_id"/>
    <button id="submit">Soumettre / Submit </button>
    <br/>
    <a id="rss"> </a>
  </body>
  <script>
    document.getElementById("submit").onclick = e => {
	const link = "/rss?programme_id=" + document.getElementById("programme_id").value;
	document.getElementById("rss").href = link;
	document.getElementById("rss").innerHTML = document.getElementById("rss").href;
    };
    </script>
</html>
