<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Ohdieux</title>
  </head>
  
  <body>
    <h1><b>Oh</b>dieux</h1>
    <a href="https://github.com/keotl/ohdieux"> À propos de ce site / About this website </a> <br/>    
    
    <a href="/static/instructions.png"><img src="/static/instructions.png" style="width:20rem;" /></a>
    <p>Saisissez le code d'émission numérique dans le champ texte
      ci-dessous.</p>
    <p>Enter the numeric programme ID in the input box.</p>

    <p>Copiez l'URL résultant dans votre lecteur de balados. La
    première utilisation du lien peut nécéssiter plusieurs secondes
    ou minutes de chargement.</p>

    <p> Copy the returned URL into your podcasts
    application. Multiple seconds or minutes may be necessary for the
    RSS feed to be generated for the first time.</p>

    <input id="programme_id"/>
    <button id="submit">Soumettre / Submit </button>
    <input type="checkbox" id="reverse"
    /><label for="reverse">Inverser ordre segments / Reverse segment
    ordering </label>
    <br/>
    <a id="rss"> </a>

  </body>
  <script>
    document.getElementById("submit").onclick = e => {
	let link = "/rss?programme_id=" +  document.getElementById("programme_id").value;
	if (document.getElementById("reverse").checked) {
	    link = link + "&reverse=true"
	}
	document.getElementById("rss").href = link;
	document.getElementById("rss").innerHTML = document.getElementById("rss").href;
    };
    </script>
</html>
