[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jivago = {git = "https://github.com/keotl/jivago", ref = "develop"}
gunicorn = "~=22.0.0"
redis = "~=4.5.5"
python-dateutil = "==2.8.2"
pytz = "==2022.6"
pydantic = "~=2.8.2"
requests = "~=2.31.0"
aiohttp = "~=3.9.3"

[dev-packages]
yapf = "==0.40.2"
isort = "==5.13.2"
ruff = "==0.5.3"
mypy = "==1.9.0"
types-requests = "~=2.31.0"

[requires]
python_version = "3.12"

[scripts]
start = "python main.py"
test = "sh scripts/run_tests.sh"
coverage = "sh scripts/run_coverage.sh"
lint = "sh scripts/run_lint.sh"
checks = "sh scripts/run_checks.sh"
lint-fix = "sh scripts/fix_lint.sh"
